* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type=text], select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.weather-box {
  text-align: center;
  margin-top: 20px;
}

.weather-box img {
  width: 100px; /* Adjust icon size */
}

.forecast {
  margin-top: 30px;
}

.forecast-container {
  position: relative; /* Positioning for carousel */
}

.carousel {
  overflow-x: hidden; /* Hide overflow */
}

.forecast-boxes {
  display: flex; /* Flexbox for forecast boxes */
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.forecast-box {
  background-color: #e7f3fe; /* Light blue background */
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px; /* Space between boxes */
}

.not-found {
  text-align: center;
}

/* Carousel specific styles */
.carousel-button {
  position:absolute; 
}